body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(119, 119, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;
}

.container {
    background-color: rgb(247, 165, 65);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2) ;
    width: 100%;
    max-width: 400px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: rgb(116, 151, 151);
}

button {

    background-color: red;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 50px; /* made it rounder for a nicer fell */
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 40px 6px rgb(190, 190, 116) ;
}

button:hover {
    background-color: brown;
    transform: translateY(-2px);
    box-shadow: 0 60px 8px rgb(49, 47, 47);
}

button:active {
    transform: translateY(0);

}

#answer { 

    margin-top: 30px;
    font-size: 1.5em;
    font-weight: bold;
    min-height: 60px;
    padding: 20px;
    background: rgb(117, 99, 134);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
