.box{
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    border: 2px solid black;
    margin: 10px;
    

}
.item{
    height: 100px;
    width: 100px;
    border: 1px solid green;
    background-color: orange;
    color: black;
    margin: 10px;
    text-align: center;
}
.box1{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    border: 2px solid black;
    margin: 10px;

}